.navbar {

    background-color: rgb(31, 60, 112);
    padding: 1rem 2rem;
}
    
.navbar .logo {
    height: 12vh;
    width: 10vw;
    vertical-align: middle;
}

.hero {
    background: linear-gradient(rgba(31, 60, 112, 0.6), rgba(31, 60, 112, 0.6)),
        url("https://connect-assets.prosple.com/cdn/ff/NwnRDkipiYNDup4tyogaXEDxlkuBXW_HUoC30lgQVl8/1659691105/public/2022-08/thumbnail-article-perbedaan-magang-dan-pkl-2022.jpg") center/cover no-repeat;
    color: white;
    min-height: 100vh;
    display: flex;
    place-items: center;
    justify-content: flex-start;
    padding-left: 30px;

}

.content {
    display: flex;
    flex: nowrap;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

.content .info-box {
    padding: 10px;
    margin: 10px;
}

.content .info-questions {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    background-color: rgb(16, 48, 110);
    color: white;
    
}

.content .head {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.content .info-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
    padding-top:40px

}

.content .button-page {
    width: 23rem;
}

.footer {
    background-color: rgb(31, 60, 112);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

