body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo {
    height: 12vh;
    width: 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.form {
    margin: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 48, 110);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
    width: 23rem;
     flex-direction: column;
}

.register {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.register .logo {
    margin-bottom: 12px;
}
.register h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.form .form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    width: 100%;
    margin-bottom: 16px;
    font-size: 16px;
}

.register .button-page {
    width: 13rem;
    margin-top: 30px;
}